@media (min-width: 768px) {


    .app__toolbar .toolbar__button .button__label {
        display: initial;
    }

    .app__toolbar  {
    }
}
@media (min-width: 768px) and (orientation: landscape){


    .app__toolbar .toolbar__button .button__label {

    }

    .app__toolbar  {

    }
}

@media (min-width: 768px) and (orientation: portrait){


    .app__toolbar .toolbar__button .button__label {
    }

    .app__toolbar  {

    }
}