html {
    touch-action: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* app */
.app {
    display: flex;
    flex-direction: column;
    height:100vh
}
.app__drawer {
}

.app__colorPalette {
}

.app__toolbar {
}

.app__toolbar .toolbar__button .button__label {
    display: none;
}

.app__editor {
    display: flex;
    flex-direction: row;
    flex-grow: 1; min-height:1px;
    position: relative;
}

/*drawer*/
.drawer {

}
.drawer__controls {
    position: absolute;
    margin: 0;
    padding: 0;
    width: initial;
    right: 0;
    transform: translateX(100%);
}

.drawer__controls>a{
    height: 80vh;
    width: 25px;
    min-width: 25px;
    transform:  translateY(10vh);
    border: 0;
    line-height: 80vh;
}

/* color pallette*/
.colorPalette {
    width: 100%;
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    justify-content: space-evenly;
}

.colorPalette__button {
    display: inline-block;
    width: 35px;
    height: 35px;
    min-width:35px;
    margin: 2px 2px;
    /*background-color: yellow;*/
    border: 1px solid black;
}

.colorPalette__button--active {
    outline: 3px solid red;
}

/* toolbar */
.toolbar {
    display: flex;
    justify-content: space-evenly;
}

.toolbar__button {
    max-width: 100px;
    min-height: 30px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.editor {

}

.editor__canvas {

}

.editor canvas {
    width: 100%;
    height: 100%;
}

.editor__toolbar{
    position: absolute;
    right: 10px;
    height:100%;
}


/* */
.button {

}

.button__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button__label {

}

/* lixo*/




#view-port-selector .col {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

#view-port-selector button {
    width: 100%;
    height: 100%;
}



@media  (orientation: landscape){


    .app__toolbar  {
        position: absolute;
        right: 10px;
        bottom: 0;
        height: 80%;
        flex-direction: column;
        z-index: 1;
    }
}